# Xcode
build/
DerivedData/
*.xcuserdata
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcscheme.bak

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved
.build/

# CocoaPods (unused, but in case)
Pods/

# macOS
.DS_Store

# IDEs / editors
.vscode/
.idea/
*.swp
